@model Papeleria.MVC.Models.MovimientosModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MovimientosModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArticuloID" class="control-label"></label>
                <input asp-for="ArticuloID" class="form-control" />
                <span asp-validation-for="ArticuloID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoMovimientoID" class="control-label"></label>
                <input asp-for="TipoMovimientoID" class="form-control" />
                <span asp-validation-for="TipoMovimientoID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioID" class="control-label"></label>
                <input asp-for="UsuarioID" class="form-control" />
                <span asp-validation-for="UsuarioID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CtdUnidadesXMovimiento" class="control-label"></label>
                <input asp-for="CtdUnidadesXMovimiento" class="form-control" />
                <span asp-validation-for="CtdUnidadesXMovimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
